
/* Các biến toàn cục cần được khai báo trong selector */
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  font-size: 20px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
}

.navbar-nav .navbar-item {
  display: block;
  justify-content: center;
}

.navbar .nav-link {
  text-transform: uppercase;
  color: black;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: red;
  /* display: block; */
}

.nav-item {
  padding: 0 15px;
}


.bestseller{
  margin-top: 100px;
}
.newproducts{
  margin-top: 100px;
}
.footballshoes{
  margin-top: 100px;
}
.discovery{
  margin-top: 100px;
}
.footer{
  margin-top: 30px;
}
.line{
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
	height: 3px;
	border-width: 0;
	color: black;
	background-color: black;
  
}

  /* #slideVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: auto;
  } */




